.Calculator {
  width: 50rem;
  height: 60rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  @media screen and (max-width: 450px) {
    width: 40rem;
  }
  &__HeaderContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__title {
    font-size: 2.6rem;
    color: var(--text);
    transition: color 0.2s ease-in-out;
  }
  &__ThemeSwitcherContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    user-select: none;
  }
  &__ThemeSwitcherName {
    font-size: 1.2rem;
    letter-spacing: 2px;
    color: var(--text);
    transition: color 0.2s ease-in-out;
    user-select: none;
  }
  &__ThemeSwitcher {
    width: 6rem;
    height: 2rem;
    background-color: var(--toggleAndKeypadBackground);
    border-radius: 5rem;
    cursor: pointer;
    position: relative;
    user-select: none;
    transition: background-color 0.2s ease-in-out;
    &::after {
      content: "";
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 5rem;
      background-color: var(--keyTwoBackgroundAndToggle);
      position: absolute;
      top: 50%;
      left: 0;
      user-select: none;
      transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
    }
    &--1::after {
      transform: translateY(-50%) translateX(0.5rem);
    }
    &--2::after {
      transform: translateY(-50%) translateX(calc(3rem - 50%));
    }
    &--3::after {
      transform: translateY(-50%) translateX(calc(4.7rem - 50%));
    }
    &:hover::after {
      background-color: var(--keyTwoShadow);
    }
  }
  &__ThemeNumbers {
    width: 5.8rem;
    font-size: 1rem;
    color: var(--text);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    left: 50%;
    top: -1.5rem;
    transform: translateX(-50%);
    transition: color 0.2s ease-in-out;
    user-select: none;
  }
  &__body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  &__screen {
    width: 100%;
    min-height: 13rem;
    border-radius: 1rem;
    background-color: var(--screenBackground);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    transition: background-color 0.2s ease-in-out;
  }
  &__prevValue {
    margin-right: 5rem;
    font-size: 2rem;
    color: var(--text);
    opacity: 0.7;
    transition: color 0.2s ease-in-out;
    user-select: none;
    min-height: 3rem;
    @media screen and (max-width: 450px) {
      margin-right: 2rem;
    }
  }
  &__currValue {
    min-height: 5rem;
    margin-right: 5rem;
    font-size: 5rem;
    color: var(--text);
    transition: color 0.2s ease-in-out;
    user-select: none;
    @media screen and (max-width: 450px) {
      font-size: 4rem;
      margin-right: 2rem;
    }
    &--small {
      font-size: 3rem;
      @media screen and (max-width: 450px) {
        font-size: 2.5rem;
      }
    }
  }
  &__buttonsContainer {
    width: 100%;
    height: 100%;
    background-color: var(--toggleAndKeypadBackground);
    border-radius: 1rem;
    transition: background-color 0.2s ease-in-out;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    padding: 3rem;
    @media screen and (max-width: 450px) {
      padding: 3rem;
    }
  }
  &__button {
    width: 9rem;
    height: 5rem;
    background-color: var(--keyThreeBackground);
    font-size: 3.2rem;
    color: var(--textAlt3);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    cursor: pointer;
    box-shadow: 0px 5px 0px 0px var(--keyThreeShadow);
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
      box-shadow 0.2s ease-in-out;

    @media screen and (max-width: 450px) {
      width: 7rem;
      height: 7rem;
    }
    &:hover {
      background-color: var(--keyThreeHover);
    }
    &--span {
      grid-column: span 2;
      width: 20.3rem;
      @media screen and (max-width: 450px) {
        width: 16rem;
      }
    }
    &--altColor {
      font-size: 2.4rem;
      background-color: var(--keyOneBackground);
      color: var(--White);
      box-shadow: 0px 5px 0px 0px var(--keyOneShadow);
      &:hover {
        background-color: var(--keyOneHover);
      }
    }
    &--altColor2 {
      background-color: var(--keyTwoBackgroundAndToggle);
      color: var(--textAlt2);
      box-shadow: 0px 5px 0px 0px var(--keyTwoShadow);
      &:hover {
        background-color: var(--keyTwoHover);
      }
    }
  }
}
